#base{
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100vw;
    /*height: 9%;*/
    background-color: #563d7c;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

#nav-bar{
    font-weight: bold;
}

#logo{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: rgb(238, 214, 236);
    font-weight: bolder;
}

#social{
    text-align: center;
    font-size: x-large;
    color: rgb(59,89,152);
}

#fb-logo:hover{
    color: rgba(233, 233, 233, 0.925);
}

#content{
    background-color: darkcyan;
}

footer{
    width: 100vw;
    background-color: darkblue;
}

.dl-fill-all{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}


